<h1>ユーザ詳細</h1>

<%= @user.name %>
<%= link_to 'ユーザ編集', edit_user_path %>
<% @user.posts.each do |user_post| %>
  <div>
    <%= link_to user_post.name , post_path %>
  </div>
  <div>
    <%= user_post.description %>
  </div>
<% end %>
